@charset "utf-8";
.horizontalmargins {
    max-width: 1600px;
    min-width: 1200px;
    overflow: visible;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
}

body,td,th {
    font-family: 'Helvetica Now Display';
    color: rgba(12,44,10,1);
}

main  {
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 3%;
    margin-right: 3%;
}
aside   {
    display: inline-block;
    margin-right: 5%;
}


aside ul {
    list-style-type: none;
    padding-left: 0px;
}
aside button {
    display: block;
    background-color: rgba(255,255,255,1.00);
    border-style: none;
    margin-left: 0px;
    padding-left: 0px;
}
aside .showall    {
    font-weight: bold;


}




.Readmorebutton {
    max-width: 100px;
    text-align: center;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 8px;
    border: medium solid rgba(0,0,0,1.00);
    text-decoration: none;
    color: rgba(0,0,0,1.00);
}
.genericbutton {
    max-width: 100px;
    text-align: center;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 8px;
    border: medium solid rgba(0,0,0,1.00);
    text-decoration: none;
    color: rgba(0,0,0,1.00);
}




.nonboxgrid-container {
    display: grid;
    grid-gap: 15px;
    margin-bottom: 40px;

}




.nonboxgrid-container .griditem {

}
.box-container {
    margin-bottom: 40px;
    display: grid;
    grid-gap: 15px;
}

.box-container .griditem {
    background-color: rgba(61,78,55,1.00);
    color: rgba(255,255,255,1.00);
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-radius: 8px;
    text-align: left;
    text-decoration: none;
}
.modal   {
    float: left;
    width: 100%;
    z-index: 1;
    position: fixed;
    height: 100%;
    left: 0px;
    top: 0px;
    overflow-x: auto;
    overflow-y: auto;
    background-color: rgba(197,222,191,0.82);
    display: none;
}
.window-content   {
    margin-top: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
    margin-left: 20%;
    background-color: rgba(255,255,255,1.00);
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    border-radius: 8px;
    display: block;
}

.photononbox {
	margin-bottom: 40px;
    display: grid;
    grid-gap: 15px;

}

.photononbox .griditem img {
    border-radius: 8px;
    width: 100%;
}
