@charset "utf-8";

:root {
  --backgroundcolor: #E6E62C;
  --textcolor: #282828;
}

@font-face {
  font-family: tgbold;
  src: url("../fonts/tomatogrotesk/TomatoGrotesk-Bold.otf");
}
@font-face {
  font-family: tgmediumslanted;
  src: url("../fonts/tomatogrotesk/TomatoGrotesk-MediumSlanted.otf");
}
@font-face {
  font-family: tgregular;
  src: url("../fonts/tomatogrotesk/TomatoGrotesk-Regular.otf");
}
@font-face {
  font-family: tgbold;
  src: url("../fonts/tomatogrotesk/TomatoGrotesk-Bold.otf");
}
@font-face {
  font-family: tglight;
  src: url("../fonts/tomatogrotesk/TomatoGrotesk-Light.otf");
}

@media only screen and (orientation:portrait){
	:root{--textsize: 36px;}
	.left {width: 100%; height: auto; font-family: tgbold; font-size: 16px; display: flex;justify-content: space-between; flex-direction: column}
	.right {width: 100%; height: auto; overflow-y: scroll; overflow-x: hidden;}
	.maxgrid-container {
		position:absolute;
		right:0px;left:0px;bottom:0px;top:0px;
		margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;
		height: auto;
		display: flex;flex-direction: column;
		gap: 15px;
	}

}

@media only screen and (orientation:landscape){
	:root{--textsize: 16px;}
	
	.left {width: 50%; height: 100%; font-family: tgbold; font-size: 16px; display: flex;justify-content: space-between; flex-direction: column}
	.right {width: 50%; height: 100%; overflow-y: scroll; overflow-x: hidden;}
	.maxgrid-container {
		position:absolute;
		right:0px;left:0px;bottom:0px;top:0px;
		margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;
		height: auto;
		display: flex;flex-direction: row;
		gap: 15px;
	}
}



body {
    overflow: hidden;
    height: 100vh;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background: var(--backgroundcolor);
    color: var(--textcolor);
}




	::-webkit-scrollbar {width: 4px;}
	::-webkit-scrollbar-track {background: var(--backgroundcolor);}
	::-webkit-scrollbar-thumb {background: var(--textcolor);border-radius: 2px;}
	::-webkit-scrollbar-thumb:hover {background: var(--textcolor);border-radius: 2px;}
	::-webkit-scrollbar-button {display:none;}
	::-webkit-scrollbar-corner {display:none;}

.left nav {display:flex;justify-content: space-between;}
	.left .name {font-size: 60px;line-height: 50px;}
	.left .about {text-align:left;}
	.left .contact {text-align: right;}
	.left .portfolio {text-align: center;}

.roledate {display:flex; justify-content: space-between;align-items:center; font-size: calc(var(--textsize)/1.5); font-family: tglight; line-height: calc(var(--textsize)/1.5);}
	role{font-family: tgmediumslanted;}
	datedata{font-family: tgregular;}

activityname {
    display: block;
    font-size: calc(var(--textsize)*1.5);font-family: tgbold;
    margin-top: 18px;line-height: calc(var(--textsize)*1.3);margin-bottom: calc(var(--textsize)/3);
	text-align: justify-all;
	text-justify: inter-word;
}
description {
    display: block;
    font-size: var(--textsize);font-family: tglight;
    margin-bottom: 0pt;line-height: var(--textsize);margin-top: calc(var(--textsize) / 4);
}
globalbackground {
    width: 100vw;
    height: 100vh;
    position: fixed;
}




